<div class="toolbar" role="banner">
	<p-table #doDt
             eckUndoSortableTable
             [value]='articleList'
             [loading]='loading'
             [paginator]='true'
             [scrollable]='true'
             [showCurrentPageReport]='true'
             [lazy]='true'
             [lazyLoadOnInit]='false'
			 (onLazyLoad)='getArticlesByCondition($event)'
             [totalRecords]='count'
             [rows]='pageSize'
			 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
			 [globalFilterFields]="['summary']"
			 >
		<ng-template pTemplate="caption">
			<p-button routerLink="../../article/add">Create Article</p-button>
			<div class="table-header" style="text-align: center;">
				<span style="font-size: 32px; position: relative;">List of Articles</span>
				<div style="float:right">
					<span class="p-input-icon-left">
						<i class="pi pi-search"></i>
						<input pInputText type="text" (input)="doSearch($event)"
						placeholder="Global Search" />
					</span>
				</div>
			</div>
		</ng-template>

		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="id">
					<div class="flex justify-content-between align-items-center">
						ID
						<p-sortIcon field="id"></p-sortIcon>
					</div>
				</th>
				<th pSortableColumn="title">
					<div class="flex justify-content-between align-items-center">
						Title
						<p-sortIcon field="title"></p-sortIcon>
					</div>
				</th>
				<th pSortableColumn="summary">
					<div class="flex justify-content-between align-items-center">
						Summary
						<p-sortIcon field="summary"></p-sortIcon>
					</div>
				</th>
				<th pSortableColumn="newsSite">
					<div class="flex justify-content-between align-items-center">
						NewsSite
						<p-sortIcon field="newsSite"></p-sortIcon>
					</div>
				</th>
				<th pColumn="url">
					<div class="flex justify-content-between align-items-center">
						URL
					</div>
				</th>
				<th pColumn="imageUrl">
					<div class="flex justify-content-between align-items-center">
						Image
					</div>
				</th>
				<th pSortableColumn="publishedAt">
					<div class="flex justify-content-between align-items-center">
						Published At
						<p-sortIcon field="publishedAt"></p-sortIcon>
					</div>
				</th>
				<th style="width: 8rem"></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-article>
			<tr class="p-selectable-row">
				<td>
					<span class="p-column-title">ID</span>
					{{article.id}}
				</td>
				<td>
					<span class="p-column-title">Title</span>
					{{article.title}}
				</td>
				<td>
					<span class="p-column-title">Summary</span>
					{{article.summary}}
				</td>
				<td>
					<span class="p-column-title">newsSite</span>
					{{article.newsSite}}
				</td>
				<td>
					<span class="p-column-title">URL</span>
					<a href="{{article.url}}" target="_blank">External Link</a>
				</td>
				<td>
					<span class="p-column-title">Image</span>
					<img [alt]="article.imageUrl" src="{{article.imageUrl}}" width="200px"
						style="vertical-align: middle" />
				</td>
				<td>
					<span class="p-column-title">PublishedAt</span>
					{{article.publishedAt | date: 'yyyy-MM-dd'}}
				</td>
				<td style="text-align: center">
					<button pButton type="button" class="p-button-secondary" icon="pi pi-eye"
						(click)="showDetails(article.id)">
					</button>
					<button pButton type="button" class="p-button-secondary" icon="pi pi-cog"
					(click)="editArticle(article.id)">
					</button>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">No Artiles found.</td>
			</tr>
		</ng-template>
	</p-table>
</div>