<div class="root">
  <div>
    <p-button routerLink="/article/list">Back To List</p-button>
  </div>
  <div>
    <p class="title-class">ID</p>
    <p>{{article.id}}</p>
  </div>
  <div>
    <p class="title-class">Summary</p>
    <p>{{article.summary}}</p>
  </div>
  <div>
    <p class="title-class">featured</p>
    <p>{{article.featured}}</p>
  </div>
  <div>
    <p class="title-class">NewsSite</p>
    <p-tag value="{{article.newsSite}}"></p-tag>
  </div>
  <div>
    <p class="title-class">URL</p>
    <a href="{{article.url}}" target="_blank">{{article.url}}</a>
  </div>
  <div>
    <p class="title-class">Image URL</p>
    <img [alt]="article.imageUrl" src="{{article.imageUrl}}" width="600px" style="vertical-align: middle" />
  </div>
</div>