<p-card class="root">
  <p-toast></p-toast>
  <ng-template pTemplate="header">
    <p *ngIf="addFlag" class="title-class text-center-class"> Add an Article</p>
    <p *ngIf="!addFlag" class="title-class text-center-class"> Edit an Article</p>
  </ng-template>
  <form #form [formGroup]="articleFormGroup" (ngSubmit)="onSubmit()">
    <div class="btn-box-class">
      <p-button type="submit" [disabled]="!articleFormGroup.valid" class="btn-class" *ngIf="addFlag"
        (onClick)="addSave()">Add Save</p-button>
      <p-button type="submit" [disabled]="!articleFormGroup.valid" class="btn-class" *ngIf="!addFlag"
        (onClick)="editSave()">Edit Save</p-button>
      <p-button routerLink="/article/list">Back To List</p-button>
    </div>
    <!--ID-->
    <div>
      <p class="title-class">ID</p>
      <input id="id" pInputText type="text" formControlName="id" [(ngModel)]="article.id">
      <div
        *ngIf="articleFormGroup.get('id').invalid && (articleFormGroup.get('id').dirty || articleFormGroup.get('id').touched)"
        class="alert alert-danger">
        <div *ngIf="articleFormGroup.get('id').errors?.['required']">
          id is required.
        </div>
        <div *ngIf="articleFormGroup.get('id').errors?.['minlength']">
          id must be at least 4 characters long.
        </div>
      </div>
    </div>

    <p class="title-class">Summary</p>
    <textarea id="summary" pInputTextarea formControlName="summary" [(ngModel)]="article.summary"></textarea>
    <p class="title-class">Featured</p>
    <p-radioButton name="featured" value="true" formControlName="featured" [(ngModel)]="featuredStr"
      inputId="true-radio"></p-radioButton>
    <label for="true-radio">True</label>
    <p-radioButton name="featured" value="false" formControlName="featured" [(ngModel)]="featuredStr"
      inputId="false-radio"></p-radioButton>
    <label for="false-radio">False</label>
    <p class="title-class">NewsSite</p>
    <p-dropdown [options]="allNewsSites" formControlName="newsSite" optionLabel="name" [(ngModel)]="article.newsSite">
    </p-dropdown>
    <p class="title-class">URL</p>
    <input type="text" pInputText [(ngModel)]="article.url" formControlName="url">
  </form>
  <div>
  </div>
  <div>
    <p class="title-class">Image URL</p>
    <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" accept="image/*">
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
</p-card>
