.root {
    padding: 40px
}

.title-class {
    font-size: 20px;
    font-weight: bold;
}

.text-center-class {
    text-align: center;
}

.btn-box-class {
    margin: 0 20px;
    float: right;
    position: relative;
}

.btn-class {
    padding-right: 10px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  .alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  }
  
  select {
    width: 100%;
    padding: .5rem;
  }